h1 {
    color: rgb(168, 231, 173);
    background-color: rgba(35, 35, 35, 0.582);
    width: 900px;
}

#score {
    font-size: 30px;
    margin-right: 1000px;
    color: rgb(220, 248, 219);
    background-color: rgba(121, 121, 121, 0.411);
}
#time {
    font-size: 30px;
    color: rgb(220, 248, 219);
    background-color: rgba(121, 121, 121, 0.411);
}
body {
    background-image:url("https://i.pinimg.com/736x/65/1e/b6/651eb61305cdeda1a22aa81b24d57756.jpg");
    background-size: cover;
}
p {
    color: rgb(220, 248, 219);
    background-color: rgba(121, 121, 121, 0.411);
    padding-top:10px;
    font-size: 25px;
    width: 200px;
}

#show_sketch {
    float:right;
}

canvas {
    border:5px solid white;
    border-radius: 20px;
    animation-name: animation;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes animation {
    from {box-shadow: 1px 1px 38px palevioletred;}
    to {box-shadow: 1px 1px 38px skyblue;}
}